QWidget {
	text-align: center;
	font-size: 20px;
	/*border: 20px solid black;*/
	/*border-radius: 10px;*/
	/*background-color: rgb(255, 255, 255);*/
}
QLabel {
	font-size: 20px;
	margin: 'auto';
}
#heading {
	/*subcontrol-origin: margin;*/
	font-size: 20px;
	/*margin: 'auto';*/
	/*margin-left: 20px;
	margin-top: 20px;*/
	/*subcontrol-origin: content;
    subcontrol-position: right top;*/
	text-align: center;
	/*margin-left: '20%';*/
	/*background-color: 'red';*/
	/*width:20%;*/
}

#toggle {
	margin: 20px;
	subcontrol-origin: padding;
    subcontrol-position: right bottom;
}

#toggle_info {
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	font-size: 15px;
}

#toggle_title {
	padding-left: 5px;
	padding-right: 5px;
	min-width: 110px;
	font-size: 20px;
}